.container{
    width: 200px;
    border: 1px solid rgb(26, 183, 210);
    padding:10px;
    margin: 0 auto;
    background-color: chartreuse;   
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color:rgb(226, 43, 92);
}

#username,#password,#email{
width: 90%;
padding: 10px;
border-radius: 6px;
margin-bottom: 10px;
}

#submit-button {
    background-color: coral;
    color:white;
    border: none;
    padding: 10px;
    border-radius: 3px;   
  }

  .login-button{
    text-align: center;
  }