h4{
    border-right:  green;
    background-color:green;
    padding-top: 10px;
    margin-top: 10px;
    text-align: center
}

h2{
    text-align: center
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }